-form_for :comment, @comment, :url => url_for_item_comments_preview(item), :html => {:method => :post} do |f| 
  =render :partial => '/comments/form', :locals => {:f => f}
  .submit
    =submit_tag 'Preview'