#navigation{
  text-align:center;
}

#navigation .nav_section{
  display:inline;
}

#navigation h2 {
  display: inline;
  font-variant: small-caps;
  font-style: normal;
  margin:0.2em 0.5em;
}

body.javascripted #navigation h2 {
  cursor: pointer;
}

#navigation h2.active {
  text-decoration: underline;
}

#current_navigation_content{
  padding:0 26.3% 0 9.5%;
  margin:1em 0;
}

#current_navigation_content .item_image{
  width:22.6%;
  float:left;
  text-align:right;
}

#current_navigation_content .item_image img{
  width:100%;
  max-height:147px;
  max-width: 147px;
}

#current_navigation_content .item_content{
  margin-left:26%;
}